.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: right; }
.item5 { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu main main main right right'
    'menu footer footer footer footer footer';

  background-color: #2196F3;
  padding: 10px;
}
.grid-container > div {
  background-color: red;
  padding: 20px 0;
  font-size: 30px;
}
.item1{
  text-align: left;
  grid-gap: 5px;
}
.item2{
  width: 100px;
  text-align: center;
  grid-gap: 5px;
}
.item3{
  text-align: left;
  grid-gap: 5px;
}
.item4{
  width: 100px;
  text-align: center;
  grid-gap: 5px;
  padding: 50px;
}
.item5{
  width: 100px;
  text-align: center;
  grid-gap: 5px;
}
